* {
    margin: 0;
    padding: 0;
  }
body{
    background-color: #67696e;
}

ul{
    list-style-type: none;
    overflow:hidden;
}

.navigation{
    width: 100%;
    background-color: #093acc;
    padding: 10px 0;
    display:flex;
    justify-content: center;  
    border-bottom: 4px solid rgb(220, 0, 0); 
}


.navigation li a{
    font-size: 18px;
    margin: 10px 0;
    padding: 0 40px;
    background-color: #093acc;
    color: white;
    text-decoration: none;
}

.navigation li a:hover{
    color: black;
}
.right_border{
    border-right: 1px solid black;
}

/* Header */
h1 {
    background-color: #093acc;
    padding: 30px;
    text-align: center;
    color: red;
    font-size: 60px;
    -webkit-text-stroke: 1px black; 
    text-shadow: 3px 3px 2px #FFF;
}

.panel_1 {
    /* Min-width before overflow - 870px */
    background-color: #67696e;
    background-image: url('Images/Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 600px;
    width: 100%;
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center; 
}

.home_paragraph 
{
    text-align: center;
    background-color: white;
    width: 40%;
    height: 70%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px blue;
    max-width: 800px;
    min-width: 200px;
}

.home_paragraph h2{
    margin: 20px;
    margin-top: 15%;
    font-size: 30px;
}

.home_paragraph p{
    margin: 10px 40px;
    font-size: 18px;
}

.figure{
    height: 95%;
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}
.panel_1 figure{
    max-width: 640px;
    min-width: 600px;   
}

#State_Fair_Family{
    height: 100%;
    width: auto;
}

.panel_2{
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.panel_2 figure{
    margin: 0 auto;
    width: 345px;
}
#cheese_curds{
    height:100%;
    width:auto;
}

.panel_2_words{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px blue;
    background-color: white;
    width: 40%;
    height: 70%;
    margin-left: 20px;

}
.home_links{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 50px;
    height: 45px;
    width: 100%;
    margin-top: 30px;
}
.home_links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    background-color: #093acc;
    border-radius: 15px;
    height: 45px;
    width: 100px;
}
.home_links a:hover{
    color:black;
}

#about_button{
    width: 130px;
}
